__pycache__
*.pyc
/repo.ior
/_pyopendds*so
/*.egg-info
/build
/.venv
/dist
/rpmbuild/BUILD/
/rpmbuild/BUILDROOT/
/rpmbuild/RPMS/
/rpmbuild/SOURCES/
/rpmbuild/SRPMS/
/debian/.debhelper/
/debian/files
/debian/python3-opendds/
/debian/debhelper-build-stamp
/debian/python3-pyopendds.install
/debian/pyversions
/debian/python3-opendds.postinst.debhelper
/debian/python3-opendds.prerm.debhelper
/debian/python3-opendds.substvars
/.pybuild/
