Package: python3-pyopendds-dbgsym
Package-Type: ddeb
Source: python3-opendds
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Dragonfly <dragonfly@upnext.com>
Installed-Size: 511
Depends: python3-pyopendds (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for python3-pyopendds
Build-Ids: 2f11074a02289f4fb75520609788eb52fd2ffd59
