name: build_docs

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
