name: pyopendds

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 5"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04 ]
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'

    env:
      ACE_ROOT: '/usr/share/ace'
      TAO_ROOT: '/usr/share/tao'
      DDS_ROOT: '/usr/share/dds'

    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get OpenDDS
        uses: actions/checkout@v3.1.0
        with:
          repository: 'iguessthislldo/OpenDDS-Debian'
          path: OpenDDS-Debian
          ref: ubuntu_20_04

      - name: Install Dependencies
        run: |
          sudo dpkg -i OpenDDS-Debian/opendds.deb

      - name: Install PyOpenDDS
        run: |
          python -m pip --verbose install .

      - name: Run Tests
        run: python tests/run_tests.py

      - name: Check Types with mypy
        run: |
          python -m pip install mypy
          mypy -p pyopendds

      - name: Lint with flake8
        run: |
          python -m pip install flake8
          flake8 --show-source --doctests --statistics
        if: always()
